header{
    background-color: #f3e9f1;
    margin-bottom: 20px;
}

h1{
    margin: 30px
}
h5{
    margin-top: 15px;
}
a{
color: white;
}

button {
    border-radius: 10px;
    color: white;
    background-color: #d37f49;

}

.card-img-top {
    border-radius: 15px;
}

.card{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px,
}

.card-body{
    background-color: #f3e9f1;        
}

.price{
    color: #a767b9;
    font-weight: 600;
}
.panier{
    background-color: #f3e9f1;
    margin-bottom: 10px;
    }

.contact{
    background-color: #f3e9f1; 
}

footer{
    margin-top: 20px;
}

.btn-secondary {
    border-radius: 10px;
    background-color: #c08f70;
    }

    .table
    {background-color: white;
    margin: 10px}

    .nav-link{
        color: #975ce7;
        font-size: large;
   }




