header{
    background-color: #f3e9f1;
    margin-bottom: 20px;
}
footer{
    margin-top: 20px;
}
h1{
    margin: 30px
}
.nav-link{
    color: #9158f6;
    font-size: large;
    font-weight: bold;
}

h5{
    margin-top: 20px;
}

a{
color: white;
text-decoration: none;
}

button {
    border-radius: 10px;
    background-color: #d37f49;
    color: white;
    padding: 5px 25px 
}
button:hover{
    background-color: #b7708f;
}

.card-img-top {
    border-radius: 15px;
}

.card{
    padding: 1px ;
    margin: 8px;
    background-color:#b7708f
}

.card-body{
    background-color: #f3e9f1;        
}

.price{
    font-size: large;
    font-weight: 500;
    margin-bottom: 20px;
}

.btn-secondary {
    border-radius: 10px;
    background-color: #c08f70;
}
.btn-secondary:hover{
    background-color: #b7708f;
}

.table{
    background-color: white;
    margin: 20px;
}

.panier{
    background-color: #f3e9f1;
    padding: 20px;
    margin-bottom: 10px;
}

.contact{
    background-color: #f3e9f1;  
}

label{
    font-style: italic;
}


   

    




